<div class="div-5">
    <div class="div-6">
      <div class="barraLateral">
        <div class="opciones">
          <a routerLink="/habits" routerLinkActive="opcionActual" class="opcion" style="text-decoration: none;">Inicio</a>
          <a routerLink="/daily-register" routerLinkActive="opcionActual" class="opcion" style="text-decoration: none;"> Registro Diario</a>
          <a routerLink="/add-habit" routerLinkActive="opcionActual" class="opcion" style="text-decoration: none;">Añadir Hábito</a>
          <a routerLink="/reports"  routerLinkActive="opcionActual" class="opcion" style="text-decoration: none;">Informes</a>
          <a routerLink="/r"></a>
        </div>
      </div>
    </div>
  </div>
  