<div class="encabezado">
    <span class="parte_izq">
      <a routerLink="habits">
        <img loading="lazy" src="../../../assets/Imagenes/Logo.png" class="imgLogo" />
      </a>
      <a routerLink="habits" class="titulo" style="text-decoration: none;">Habits</a>
    </span>
    <span class="parte_der">
      <img loading="lazy" src="../../../assets/Imagenes/Notificaciones.png" class="imgNotificaciones" />
      <div class="datos_cuenta">Datos de la Cuenta</div>
      <img loading="lazy" src="../../../assets/Imagenes/Perfil.png" class="imgPerfil" />
    </span>
</div>